# Created by https://www.toptal.com/developers/gitignore/api/renpy
# Edit at https://www.toptal.com/developers/gitignore?templates=renpy

### Renpy ###
# Don't track content of these folders #
########################################
cache/
saves/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc


# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt

# End of https://www.toptal.com/developers/gitignore/api/renpy
.vscode/settings.json
game/libs/renpy_warp_2.1.2_bfed3160.rpe.py
game/libs/vscode_renpy_warp_3.0.0_8d3ed041.rpe.py
game/libs/renpy_warp_2.1.2_bfed3160.rpe.py
game/libs/renpy_warp_2.1.2_bfed3160.rpe.py
game/libs/renpy_warp_2.1.2_bfed3160.rpe.py
